.Content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  border: 2px solid gray;
  border-radius: 6px;
  padding: 10px;
}

li:hover {
  cursor: pointer;
  color: rgba(0, 0, 255, 0.793);
}
