@import "../../styles/variables";
@import "../../styles/mixins";
.NavBar {
  .lista {
    @include flex-container(row, space-around, center);

    font-size: 22px;
    cursor: pointer;
  }
  h2 {
    color: $color-title;
  }
}
