@import "../../styles/variables";
.Card {
  box-shadow: 2px 0 2px black;
  border-radius: $primary-bord;
  .image {
    width: 240px;
    border-radius: $primary-bord;
  }
  .Card_Title_Cocktail {
    font-weight: $primary-test;
    text-align: center;
  }
  ul {
    font-family: $primary-font;
    color: $secondary-color;
    list-style: none;
  }
  .ingrediente {
    font-weight: $primary-test;
    border-bottom: 1px solid;
    width: 100px;
  }
  .text {
    height: 150px;
  }
}
