.Card {
  box-shadow: 2px 0 2px black;

  .Card_image {
    width: 240px;
  }
  .Card_Title_Cocktail {
    font-weight: bold;
    text-align: center;
  }
  ul {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    list-style: none;
  }
  .card_ingrediente {
    font-weight: bold;
    border-bottom: 1px solid;
    width: 100px;
  }
}
