.Cart_Modal_content {
  position: fixed;
  top: 12vw;
  left: 50vh;
  width: 50vw;
  height: 50vh;
  padding: 20px;
  border-radius: 12px;
  background-color: rgb(184, 244, 17);
}

.Cart_Modal_text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
