//colori

$primary-color: #edffa4e0;
$secondary-color: rgb(75, 22, 22);

//testo

$primary-test: bold;
$primary-font: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
//bordo
$primary-bord: 12px;
