* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(37, 226, 229);
}
.button {
  padding: 8px 15px;
  background-color: rgb(24, 59, 218);
  color: white;
  border-radius: 3px;
  border: none;
  font-weight: bold;
  position: relative;
}
.productsList {
  position: relative;
  justify-content: center;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  text-align: center;
}
.card {
  height: 400px;
  width: 400px;
  border: 1px solid rgb(228, 255, 52);
  border-radius: 10px;
  gap: 20px;
}
.images {
  height: 300px;
  width: 100%;
  border: 2px solid red;
  object-fit: cover;
  object-position: 0%;
}
.title {
  color: blue;
}
.titles {
  color: rgba(28, 28, 228, 0.662);
  text-align: center;
}
.btn1 {
  width: 20px;
  height: 20px;
  border-radius: 22px;
  border: 1px solid rgb(255, 125, 4);
  color: lightcyan;
}
