header {
  display: flex;
  position: relative;
  left: 0%;
  gap: 10px;
}
a {
  border: 2px solid;
  height: 40px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}
.header {
  padding: 10px;
}
