body {
  background-image: url(/immagini/sfondo-del-cielo-di-sera.jpg);
  background-size: cover;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  color: rgb(31, 0, 115);
  height: 400px;
}
.title {
  font-size: 40px;
  text-align: center;
  padding: 10px;
  color: white;
}
.name {
  font-size: 35px;
  text-align: center;
  padding: 10px;
}
.imgIcon {
  height: 150px;
  position: relative;
}
.icon {
  height: 150px;
}
label {
  padding: 20px;
  font-size: 20px;
  color: white;
}
.sel_city {
  border-radius: 6px;
}
.puntatore {
  width: 30px;
  position: relative;
  top: -68px;
  right: 45px;
  border-radius: 10px;
}
.temperatura {
  font-size: 42px;
  position: relative;
  top: -230px;
}
.temp-min {
  position: relative;
  right: 130px;
  bottom: 20px;
  font-size: 23px;
  color: rgba(2, 48, 255, 0.847);
}
.temp-max {
  position: relative;
  left: 130px;
  bottom: 70px;
  font-size: 23px;
  color: rgba(242, 0, 0, 0.834);
}
.weather {
  font-size: 28px;
  position: relative;
  top: -350px;
  right: 230px;
}
.tempHumidity {
  position: relative;
  bottom: 50px;
  font-size: 25px;
  color: rgb(31, 0, 115);
}
.wind {
  font-size: 25px;
  position: relative;
  bottom: 450px;
  left: 230px;
}
.coord {
  display: flex;
  position: relative;
  bottom: 290px;
  font-size: 25px;
  gap: 250px;
}
