body {
  background-color: rgb(32, 32, 32);
}
.popular {
  display: flex;
  gap: 25px;
  padding: 40px;
  overflow-x: auto;
}
.top-rated {
  display: flex;
  gap: 25px;
  padding: 40px;
  overflow-x: auto;
}
.titles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: orangered;
}
.movie {
  display: flex;
  height: 340px;
  width: 300px;
}
.images {
  border-radius: 12px;
}
h2 {
  text-align: center;
  color: yellow;
}
